:root {
    --font: 'Sora', sans-serif;
    --app-color: #e53945;
    --app-color2: #2a9d8e;
    --app-color3: #2c3e50;
    --app-color4: #e8f1f0;
    --app-shadow: rgba(6, 52, 52, 0.275) 0px 6px 16px;

    --font-small: 12px;

    --font-small_1: 13px;
    --font-small_2: 10px;
    --font-small_3: 14px;

    --font-medium: 15px;

    --font-large: 20px;
    --font-large_1: 25px;
    --font-large_2: 30px;
    --font-large_3: 40px;
    --font-large_4: 50px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: var(--font);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-optical-sizing: auto;
    font-style: normal;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
    background-color: var(--app-color4);
    margin: 0;
}
